<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>

    <header>
        <div>
            <h1>Te damos la bienvenida a Tweet Sentiment Analyzer</h1>
            <a id="signup" href="../../index.html">Cerrar sesión</a>
        </div>
        <hr>
        <nav>
            <ul>
                <a href="home.html"><li>Inicio</li></a>
                <a href="tweetAnalysis.html"><li>Análisis de Tweets</li></a>
                <a href="results.html"><li>Resultados</li></a>
                <a href="historicalData.html"><li>Datos históricos</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <p>Analyze the sentiment of your tweets with ease.</p>
        <a href="templates/tweetAnalysis.html">Analyze a Tweet</a>
    </main>
    <script src="js/home.js"></script>
    
</body>
</html>